extends layout

block content
  h1= title

  h2= item.name
  p Category: 
    a(href=category.url) #{item.category}
    p In stock: #{item.in_stock}
    p Price: #{item.price} $
    p Description: #{item.description}